body {
  background-color:steelblue;

  /* background: rgb(100,102,100);
background: linear-gradient(351deg, rgba(100,102,100,1) 1%, rgba(71,177,230,1) 17%, rgba(184,186,184,1) 93%, rgba(53,54,53,1) 98%); */
}

table {
  width: 375px;
  background-color: dimgray;
  border: 2px solid black;
  padding: 3px;
}

td {
  
  width: 75px;
  height: 75px;
  /* background-color: lightslategray; */
}

thead td {
  background-color: azure;
}

tbody td {
  background: rgb(124,129,124);
  background: linear-gradient(324deg, rgba(124,129,124,1) 6%, rgba(184,186,184,1) 74%, rgba(88,92,89,1) 88%);
  font-size: 2.5em;
  color: cornsilk;
  text-align: center;
  vertical-align: middle;
}

.calcHistoryDiv {
  border: 2px solid black;
  /* background-color: cornsilk; */
  background: rgb(124,129,124);
background: linear-gradient(351deg, rgba(124,129,124,1) 1%, rgba(220,232,161,1) 17%, rgba(184,186,184,1) 93%, rgba(88,92,89,1) 98%);
}

.buttonDiv {
  background-color: cornflowerblue;
  height: 2em;
  border-bottom: 2px solid black;
}

.buttonDiv span, button {
  margin-left:18%;
  margin-top: .3em;
}

.flexContainer {
  display: flex;
}

.flexChild {
  flex: 1.75;
  margin-left: 25px;
  margin-right: 125px;
}

.flexChild:first-child {
  flex: 1;
  margin-right: 50px;
}
